.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noborder{
    border:none;
    background-color: white;
}

#prevbtn{
    border: none;
    background-color: transparent;
    position: fixed;
    left: 5%;
    top: 50%;
}

#nextbtn{
    border: none;
    background-color: transparent;
    position: fixed;
    right: 5%;
    top:50%;
}

.larger-font{
  font-size: 0.9em;
}

.larger-margin{
  margin-bottom: 30px;
}

.bookli{
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  width: 400px;
}
.bookbtn{
  font-size: medium;
  
 
}