.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noborder{
    border:none;
    background-color: inherit;
}

#prevbtn{
    border: none;
    background-color: transparent;
    position: fixed;
    left: 5%;
    top: 50%;
}

#nextbtn{
    border: none;
    background-color: transparent;
    position: fixed;
    right: 5%;
    top:50%;
}

.large-font{
  font-size: 3em;
}

.larger-font{
  font-size: 0.9em;
}

.larger-margin{
  margin-bottom: 30px;
}

.bookli{
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  width: 90%;
}
.bookbtn{
  font-size: medium;
  
 
}

.navbar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  min-width: 50px;
  min-height: 50px;
  background-color: lightcyan;
}
.navbarmin{
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  z-index: 10;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  opacity: 0.6;
  text-align: center;
}

.blue-font{
  color: blue;
}

#epubviewer{
  z-index: -1;
}

.dict{
  position: fixed;
  top:50px;
  overflow: scroll;
  width: 80%;
  height: 300px;
  border-color: lightblue;
  border-width: 3px;
  border-style: solid;
  background-color: lightcyan;
}

.tocitem{
  color: blue;

}
.navbar >ol>li{
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}
input.visually-hidden:focus-within + label {
  outline: thin dotted;
}