
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noborder{
    border:none;
    background-color: inherit;
}

.prevbtn{
    font-size: x-large;
    border: none;
    background-color: transparent;
    color: blue;
    margin-right: 30px;
}

.nextbtn{
    color: blue;
    border: none;
    font-size: x-large;
    background-color: transparent;
}

.large-font{
  font-size: 3em;
}

.larger-font{
  font-size: 0.9em;
}

.larger-margin{
  margin-bottom: 30px;
}

.bookli{
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  max-width: 400px;
  word-break: break-all;
}
.bookbtn{
  font-size: medium;
  
 
}

.tool{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  min-width: 50px;
  min-height: 50px;
  background-color: lightcyan;
}
.toolmin{
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  z-index: 10;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  opacity: 0.6;
  text-align: center;
}

.blue-font{
  color: blue;
}

#epubviewer{
  z-index: -1;
}

.dict{
  position: fixed;
  bottom: 0px;
  overflow: scroll;
  width: 100%;
  height: 50%;
  border-color: lightblue;
  border-width: 3px;
  border-style: solid;
  background-color: white;
}

.tocitem{
  color: blue;

}
.tool >ol>li{
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}
input.visually-hidden:focus-within + label {
  outline: thin dotted;
}



.dictbutton{
    font-size: medium;
    border: 5px;
    opacity: 0.8;
    background-color: inherit;
    min-width: 70px;
   padding-top: 10px;
   margin-top: 0;
   padding-bottom: 10px;
}
.dict-button-group{
    position: sticky;
    left: 0;
    top: 0px;
    background-color: lightgray;
}

.additional{
    margin-right: 20px;
}
#collinsResult .collinsOrder {
    float: left;    
}
input{
    height: 30px;
    width: 90%;
}

#localdict{
    font-size: 0.6em;
    
}

.dict-textarea{
    margin-top: 10px;
    width: 90%;
    height: 100px;
    font-size: medium;
     -webkit-user-select: none;
}

.large-button{
    font-size: 1.3em;
}

.noline{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    
}

.navbar{
    position: sticky;
    top: 0;
    background-color: lightcyan;
    padding-top: 10px;
    padding-bottom: 5px;
}

.helpdiv{
    margin: 40px;
}

.shelf{
    margin: 30px;
}